body{
    color: white;
   background-color: black;
}
p{
    text-align: center;
}
h1{
    text-align: center;
	color: rebeccapurple;
	font-size: 37px;
	background-color: pink;
}
a{
    color: red;
    font-size: 30px;
}
